POSTGRES_DB=team_management
POSTGRES_USER=team_user
POSTGRES_PASSWORD=change-me

POSTGRES_HOST_PORT=5432
KAFKA_HOST_PORT=9092
KAFKA_UI_HOST_PORT=8081
REDIS_HOST_PORT=6379
GATEWAY_SERVICE_HOST_PORT=8088
IDENTITY_SERVICE_HOST_PORT=8087
TEAM_SERVICE_HOST_PORT=8082
TOURNAMENT_SERVICE_HOST_PORT=8085
MATCH_SERVICE_HOST_PORT=8084
STATISTICS_SERVICE_HOST_PORT=8086
AUDIT_SERVICE_HOST_PORT=8083

JWT_SECRET=replace-with-at-least-32-bytes-secret
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=30
APP_JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7
INIT_ADMIN_USERNAME=admin
INIT_ADMIN_PASSWORD=admin123
INIT_ADMIN_DISPLAY_NAME=System Administrator

FRONTEND_ALLOWED_ORIGINS=http://localhost:5173
